body{
    font-family: "Comic Sans MS";
}

h1{
    text-align: center;
    color:blueviolet;
    font-style: italic;
    


}
h2{
    text-align: center;
}

.selection-buttons {
    display: flex;
    justify-content: center;
    gap:50px;
    padding-top: 100px;
    
}

button{
    padding: 0;
    border: 2px solid gold ;
    
}

#rock,
#paper,
#scissors{
    width: 200px;
    height: 200px;
}
.game-results{
    text-align: center;
    padding-top: 50px;
}

.winner{
    padding: 50px;
    font-size: 50px;
}

#rock img,
#paper img,
#scissors img{
    width:200px;
    height: 200px;
}

